- if user_signed_in?
  = render partial: "palindromes/new"
- else
  %p Sign in or Sign up to submit a palindrome

%ul.palindromes
  - @palindromes.each do |palindrome|
    %li.visualization
      - minimized = palindrome.body.downcase.gsub(/[\s+?!;:.,\-–—"']/, "")
      - minimized.each_char do |char|
        - letter = char.gsub(/[\s+?!;:.,\-–—"']/, "")
        .letter{:class => [letter]}
    %li= palindrome.body
    %li.attribution= palindrome.format_attribution
