.message
  - if user_signed_in?
    = render partial: "palindromes/new"
  - else
    %h3 Sign in or sign up to submit a palindrome


.palindromes.display.plateau
  - @palindromes.each do |palindrome|
    %p.attribution= palindrome.format_attribution
    .visualization
      - minimized = palindrome.body.downcase.gsub(/[\s+?!;:.,\-–—"']/, "")
      - minimized.each_char do |char|
        - letter = char.gsub(/[\s+?!;:.,\-–—"']/, "")
        .letter{:class => [letter]}
    .expanded
      - depunctuated = palindrome.body.downcase.gsub(/[\?!;:.,\-–—"']/, "")
      - depunctuated.downcase.each_char do |char2|
        .letter{:class => [char2]}
      %p.body= palindrome.body

    / / favorites feature is a work in progress

    / - if current_user
    /   %li
    /     = form_for favorite(palindrome) do |f|
    /       - if favorite(palindrome).new_record?
    /         = f.hidden_field :user_id, value: current_user.id
    /         = f.hidden_field :palindrome_id, value: palindrome.id
    /         = f.submit "Favorite"
    /       - else
    /         = button_to "Unfavorite", favorite_path(favorite palindrome), { method: :delete}
