@import url(http://fonts.googleapis.com/css?family=Expletus+Sans:400,600);

body {
  margin: 2rem 4rem;
  background-color: #879ba2;
}

.title {
  font-family: 'Expletus Sans', sans-serif;
  text-align: center;
  font-size: rem-calc(72);
  color: #fff;
  margin: 2rem 0;
  position: relative;
  top: 1rem;
}

.plateau {
  background: #fff;
  margin: 0 auto;
  padding: 4rem 0;
  border: 1px solid #668896;

  a {
    position: relative;
    left: 3rem;
  }
}

.display {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  -moz-box-shadow:    0 0 18px 5px #526369;
  -webkit-box-shadow: 0 0 18px 5px #526369;
  box-shadow:         0 0 18px 5px #526369;
}

.input {
  background: #d4dbde; /* Old browsers */
  background: -moz-linear-gradient(top, #d4dbde 0%, #edf4f7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4dbde), color-stop(100%,#edf4f7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d4dbde 0%,#edf4f7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d4dbde 0%,#edf4f7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d4dbde 0%,#edf4f7 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d4dbde 0%,#edf4f7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4dbde', endColorstr='#edf4f7',GradientType=0 ); /* IE6-9 */
  padding-left: 1rem;
  padding-right: 1rem;
  -moz-box-shadow:    0 0 13px 2px #63787f;
  -webkit-box-shadow: 0 0 13px 2px #63787f;
  box-shadow:         0 0 13px 2px #63787f;

  .formheader {
    text-align: center;
    margin: -2rem 0 1rem 0;
  }

  label {
    font-size: rem-calc(22);
  }

  .originality {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    font-size: rem-calc(17);
    color: #606060;
  }

  .submit {
    width: 100%;
    margin: 1rem 0 -3rem 0;
  }

  .checkbox {
    width: 1.5rem;
    height: 1.5rem;
  }

  h2 {
    text-align: center;
  }
}

li {
  list-style: none;
}

.visualization {
  margin: 2.5rem 0 4rem 0;
  padding-right: 1.25rem;
  background-color: #fff;

  .body {
    margin-top: 0.75rem;
    font-size: rem-calc(30);
    letter-spacing: 2px;
    opacity: 0;
    transition: opacity 100ms ease-in 300ms;
  }

  .space {
    width: 0;
    margin: 0 -0.125rem;
    transition: width 200ms ease;
  }
}

.visualization:hover {
  .body {
    opacity: 1;
  }

  .space {
    width: 18px;
  }
}

.letter {
  height: 30px;
  width: 18px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  display: inline-block;
}

.attribution {
  font-size: rem-calc(20);
  color: #668896;
}

.devisings {
  font-size: rem-calc(20);
  position: absolute;
  top: 1rem;
  right: 0;

  span {
    right: 0.5rem;
  }
}

h3 {
  text-align: center;
  padding: 2rem 0 1rem 0;
  color: #03273e;
}

span {
  padding-right: 1rem;
}

// vowels

.a {
  background-color: #ff250a;
}

.e {
  background-color: #ff4a14;
}

.i {
  background-color: #ff701e;
}

.o {
  background-color: #ff9528;
}

.u {
  background-color: #ffbb33;
}

// consonants

.b {
  background-color: #075589;
}

.c {
  background-color: #0e5c8e;
}

.d {
  background-color: #166393;
}

.f {
  background-color: #1d6a97;
}

.g {
  background-color: #24719c;
}

.h {
  background-color: #2c79a1;
}

.j {
  background-color: #3380a5;
}

.k {
  background-color: #3a87aa;
}

.l {
  background-color: #428eaf;
}

.m {
  background-color: #4995b3;
}

.n {
  background-color: #509db8;
}

.p {
  background-color: #58a4bd;
}

.q {
  background-color: #5fabc1;
}

.r {
  background-color: #66b2c6;
}

.s {
  background-color: #6eb9cb;
}

.t {
  background-color: #75c1cf;
}

.v {
  background-color: #7cc8d4;
}

.w {
  background-color: #84cfd9;
}

.x {
  background-color: #8bd6dd;
}

.y {
  background-color: #92dde2;
}

.z {
  background-color: #9ae5e7;
}
